* {
  margin: 0;
  padding: 0;
  border: 0;
}

#conteudo {
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 60px;
}
#conteudo h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
#conteudo #buscar {
  width: 95%;
  padding: 10px 2.5%;
  border-bottom: 1px solid #000;
  margin-bottom: 30px;
  font-size: 20px;
}
#conteudo .filtros {
  display: flex;
}
#conteudo .usuarios, #conteudo .estatisticas {
  width: 50%;
  border: 1px solid #e9e9e9;
}
#conteudo .usuarios #msgUsuarios, #conteudo .estatisticas #msgEstatisticas {
  font-size: 20px;
  font-weight: 800;
  margin: 15px 0;
  text-align: center;
}
#conteudo .usuarios span, #conteudo .estatisticas span {
  display: block;
  line-height: 30px;
}
#ulDados,  #ulEstatisticas{
  padding: 0 30px;
  list-style-type: none;
}
#conteudo .filtros .usuarios #ulDados li {
  display: flex;
  align-items: center;
  padding: 8px;
}
#conteudo .filtros .usuarios #ulDados li span {
  width: 130px;
  margin: 0 15px;
  text-align: left;
}
#conteudo .filtros .usuarios #ulDados li .img {
  border-radius: 50%;
}
#conteudo .filtros .estatisticas #ulEstatisticas li {
  text-align: left;
}